.formBackground {
    position: absolute;
    background-image: url('C:\Users\lccar\OneDrive\Desktop\HENRY\Bootcamp\Integrador\rick_and_morty\Client\public\loginBackground.jpeg');
    background-size: cover;
    height:643px;
    width: 950px;
    margin-left: -50px;
}

.formContainer {
    position:absolute;
    background-color: rgb(44, 44, 44);
    height: 100%;
    width: 466px;
    margin-left: 950px;
}

.formGrid {
    display: grid;
    grid-auto-rows: auto auto auto auto auto;
    width: 70%;
    align-content: center;
    
}

.formLabel {
    justify-content: center;
    color: white;
    font-weight: bold;
    align-content: center;
    margin-left: 115px;
    margin-top: 70px;
    margin-bottom: 5px;
}

.formInput {
    height: 30px;
    width: 250px;
    border-radius: 10px;
    box-shadow: fuchsia;
    margin-left: 110px;
}

.formError {
    color: red;
    font-weight: bold;
    margin-left: 110px;
}

.formButton {
    background-color: deeppink;
    height: 35px;
    width: 200px;
    border-radius: 10px;
    font-weight: 700;
    margin-left: 143px;
    margin-top: 20px;
}